 <h1>Books Price</h1>
 <div id="placeholder" style="width:600px;height:300px"></div>
  <script type="text/javascript">
    $(document).ready(function(){
  //   	var options = {
		//     series: {
		//         lines: { show: true },
		//         points: { show: true }
		//     }, 
		//     yaxis: { max: 1 },
		//     legend: { show: true },
		// };

     //$.plot($("#placeholder"), [ [[0, 0], [1, 1]] ], options);
 //     var data = [
	//     { label: "IE",  data: 19.5, color: "#4572A7"},
	//     { label: "Safari",  data: 4.5, color: "#80699B"},
	//     { label: "Firefox",  data: 36.6, color: "#AA4643"},
	//     { label: "Opera",  data: 2.3, color: "#3D96AE"},
	//     { label: "Chrome",  data: 36.3, color: "#89A54E"},
	//     { label: "Other",  data: 0.8, color: "#3D96AE"}
	// ];
	var less = <%= raw less %>
	var more = <%= raw more %>
	var data = [
	    { label: "Less than 20",  data: less, color: "#89A54E"},
	    { label: "More than 20",  data: more, color: "#AA4643"}
	];
     $.plot('#placeholder', data, {
		    series: {
		        pie: {
		            show: true,
		        }
		    },
		    legend: {
		        show: false
		    }
		});
    });
   </script>